.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50px);
}

.loginPage form {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 5px solid #000;
    border-radius: 15px;
    padding: 80px 20px 20px 50px;
    text-align: center;
    position: relative;
    gap: 20px;
}

.user-icon {
    width: 70px;
    height: 70px;
    background-color: #ff4b58;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left: calc(50% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border: 5px solid #000;
}

.loginPage button {
    background-color: #ff4b58;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.loginPage button:hover {
    background-color: #e04350;
}

.formItem {
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formItem div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.loginPage input {
    border-radius: 5px;
    padding: 5px;
}